@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}

p {
  font-size: 18px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-1stroke {
    color: #dc4e4e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }

  .text-2stroke {
    color: #08368e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
}
/* 
::-webkit-scrollbar {
  display: none;
} */
